.App {
  text-align: center;
}

.app-container {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1{
	margin: 0;
	padding: 0;
	text-align: center;
}
.enter-name{
	position: absolute;
	top: 0;
}

.enter-name p{
	padding-top: 20%;
}

.day-schedule{
	padding-top: 15%;
	text-align: center;
}

.day-schedule input[type=text]{
	display: block;
	margin: 10px auto;
}